* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}
.row {
    display: flex;
    column-gap: 1rem;
}
.row > * {
    width:calc(100% / 3);
    padding:1rem;
}
span {
    font-size: 20px;
}

img {
    width: auto;
    height: 350px;
}

